ul h3 {
  height: auto;
  margin: auto;
}

body {
  background-color: rgba(230, 238, 243, 0.69);
  margin: 0px;
}

@media only screen and(max-width: 600px) {
  .main {
    width: 100%;
  }
}

.appast {
  display: flex;
}

.apple1 {
  display: flex;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right: auto;
  padding: 0%;
}

.astro1 {
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right: auto;
  display: flex;
  padding: 0%;
}

.apple2 {
  box-shadow: 0 4px 8px 0;
  box-shadow: #333;
}

.appleimg {
  height: 300px;
  width: 100%;
}

.applest {
  padding: 20px 16px;
  margin: 5px;
}

.headh1 {
  background-color: rgb(79, 7, 248);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

li {
  padding: 10px;
  color: rgb(210, 30, 30);
  background-color: inherit;
  text-align: center;
}

li :hover {
  color: purple;
}

.testimg {
  width: 100px;
}

.port {
  display: inline;
  background-color: white;
}

.portlink {
  text-decoration-color: red;
}

.teamdiv {
  display: flex;
  padding-top: 10px;
}

.cards {
  box-shadow: 0 4px 8px 0;
  box-shadow: #333;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  border-radius: 20px;
}

.servcards {
  box-shadow: 0 4px 8px 0;
  box-shadow: #333;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  border-radius: 20px;
}

.cardsimg {
  height: 200px;
  width: 100%;
}

.teamimg {
  height: 70%;
  width: 100%;
  border-radius: 20px;

}

.boxed {
  padding: 2px 16px;
  display: flexbox;
}

.subject {
  height: 200px;
}

.cardimg {
  height: 70%;
  width: 100%;
}


.dropbtn {
  background-color: #615f5f;
  color: wheat;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: red;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #615f5f;
  right: 25px;
  flex-direction: column;
}

.dropdown-show {
  display: flex;
}

.dropdown-content a {
  color: wheat;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a {
  display: block;
  padding: 8px;
  background-color: #615f5f;
  height: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #615f5f;
  margin: 0px;
  padding-top: 0px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.navbar a:hover,
.navbar button:hover {
  background-color: red;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: wheat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  /* float: right; */
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
}

@media screen and (min-width: 500px) {
  body {
    background-color: white;
  }
}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 50%;
  width: 90%;
  margin-left: 50px;
  margin-right: 20px;
}

.containert {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.containert::after {
  content: "";
  clear: both;
  display: table;
}

.containert img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.containert span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .containert {
    text-align: center;
  }

  .containert img {
    margin: auto;
    float: none;
    display: block;
  }

  body {
    background-color: white;
  }

  @media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }

}

/* image slider */
#slideshow {
  background-color: inherit;
  width: 100%;
  height: 100%;
  align-items: center;
}

#slidebox {
  align-items: center;
  height: 50%;
  width: 100%;
  position: relative;
  bottom: 10%;
  top: 30%;
  left: 0%;
  overflow: hidden;
  margin-bottom: 0px;

}

#slideing {
  display: flex;
  animation: slideing 5s infinite;
  padding: 10px;
}

@keyframes slideing {
  0% {
    transform: translateX(10%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* slideshow end */

/* lightbox gallery */

* {
  box-sizing: border-box;
}

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* lightbox end */

.footer {
  text-align: center;
  background: black;
  color: wheat;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}

.show {
  display: block;
}

/* sticky header */
.headers {
  padding: 10px 16px;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

/* modal */
.modals {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modals-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.off {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.off:hover,
.off:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modals-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  width: 80%;
  margin: auto;
  font-size: larger;
  text-align: center;
}

.modals-body {
  padding: 2px 16px;
}

.modals-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  width: 80%;
  margin: auto;
  font-size: larger;
  text-align: center;
}

/* slider testimonials */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.testi {
  display: none;
  padding: 80px;
  text-align: center;
}

.car {
  display: none;
  padding: 80px;
  text-align: center;
}

.testi::after {
  content: "";
  clear: both;
  display: table;
}

.car::after {
  content: "";
  clear: both;
  display: table;
}

.testi img {
  float: left;
  margin-right: 20px;
  max-height: 100px;
  width: auto;
}

.car img {
  float: left;
  margin-right: 20px;
  max-height: 100px;
  width: auto;
}

.testi span {
  font-size: 50px;
  margin-right: 20px;
}

.car p {
  font-size: 50px;
  margin-right: 20px;
}

.previ,
.nexti {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.nexti {
  position: relative;
  float: right;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previ {
  position: relative;
  float: left;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previ:hover,
.nexti:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.dots-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dotee-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotee {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dots:hover,
.dotee:hover {
  background-color: #e40f0f;
}

/* scroll back button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* search bar */
#searchbar {
  margin-left: 20%;
  padding: 15px;
  border-radius: 10px;
  margin-right: 0;
  width: 70%;
}

#searchbar input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}


#searchbar input[type=text]:focus {
  width: 70%;
}

#list {
  font-size: 25px;
  margin-left: 90px;
}

.shoes {
  display: list-item;
}

#list {
  text-decoration: none;
}

/* accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 1s;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
  margin-left: 10px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 20px;
}

.accordions {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.active,
.accordions:hover {
  background-color: #ccc;
}

.panels {
  padding: 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 20px;
}

/* team member tabbed interface*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-left: 10px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* carousel */
.dots-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dots:hover {
  background-color: #e40f0f;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* animations */
#greeting {
  transition: opacity 1s;
  font-size: 23px;
  margin: 0%;
  padding: 0%;
}

#greeting1 {
  transition: opacity 1s;
  position: relative;
  font-size: large;
  top: 0px;
  margin: 0%;
  padding: auto;
}

.task {
  text-align: center;
  background-color: #615f5f;
  color: aliceblue;
  padding: 0%;
  margin: 0;
}

/* hamburger menu */
.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}